body {
  font-family: Arial;
  background: #f4fff4;
  text-align: center;
}

.form {
  width: 400px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

