body {
  background: #fff8e8;
  font-family: Arial;
}

.login-box {
    width: 201px;
    margin: 177px auto;
    background: white;
    padding: 51px;
    border-radius: 20px;
    text-align: center;
}